@model SoccerBet.App.ViewModels.MatchViewModel
@{
    ViewData["Title"] = "Match";
}

<h1>Jogos</h1>

@foreach (var item in Model.Matchs)
{
    <div class="card text-center">
        <div class="card-header">
           Rodada - @item.Round.Number
        </div>
        <div class="card-body">
            <p class="card-text">@item.CompleteScoreBoard</p>
            @if (item.RenderBetButton)
            {
                @*<button type="button" class="btn btn-success">Faça seu palpite</button>*@
                <a class="btn btn-success" asp-controller="Bet" asp-action="Index" asp-route-id="@item.Id">Faça seu palpite</a>
                <p class="small">@item.MatchDate.ToShortDateString()</p>
            }
            else
            {
                <p class="small">@item.MatchDate.ToShortDateString()</p>
            }
        </div>
        <div class="card-footer text-muted">
        </div>
    </div>
    <br/>
}

